/* Body */

body {
    margin: 0px;
}

/* Header */

#header span {
    margin: 10px;
    float: right;
}

#header b {
    font-size: 18pt; 
}

#food {
    color: grey;
}

#score {
    color: skyblue;
}

#header span:hover {
    border-bottom: solid 1px;
}

#header {
    position: fixed;
    z-index: 1;
    top: 0%;
    box-shadow: 0px 2px lightgray;
    padding: 10px;
    background: rgba(255, 255, 255, 1.0);
}

/* Intro Text */

#intro {
    margin-top: 150px;
}

#introText {
    z-index: -1;
    font-size: 35pt;
    text-align: center;
}

#introSubTextHolder {
    margin-top: 25px;
}

#introSubText {
    font-size: 18pt;
    text-align: center;
    color: grey;
}

/* Login */

#username {
    margin-top: 100px;
    text-align: center;
}

#password {
    text-align: center;
    margin-top: 10px;
}

#passwordField, #usernameField {
    text-align: center;
    border: solid 2px whitesmoke;
    padding: 2px;
}

#sign-in {
    text-align: center;
    margin-top: 20px;
    height: 200px;
}

/* Showcase */

#showcase1 {
    min-height: 400px;
    background-color: whitesmoke;
}

#showcase2 {
    min-height: 400px;
}

#showcase3 {
    min-height: 400px;
    background-color: whitesmoke;
}

#clock {
    min-height: 400px;
    background-image: url(https://cdn.pixabay.com/photo/2016/08/19/20/37/time-1606153_960_720.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#clockText {
    text-align: center;
}

#saveTime {
    font-size: 35pt;
}

#saveText {
    font-size: 20pt;
}


